    <div class="mobile-nav" id="mobile-nav">
        <a onclick="navigateTo('/home'); closeMobileMenu()" id="mobile-nav-home" class="active">Home</a>
        <a onclick="navigateTo('/notice'); closeMobileMenu()" id="mobile-nav-notice">Notice</a>
        <a onclick="navigateTo('/event'); closeMobileMenu()" id="mobile-nav-event">Event</a>
        <a onclick="navigateTo('/faq'); closeMobileMenu()" id="mobile-nav-faq">FAQ</a>
        <a onclick="navigateTo('/members'); closeMobileMenu()" id="mobile-nav-members">Members</a>
        <a onclick="handleAuthNavClick(); closeMobileMenu()" id="mobile-nav-login">Login</a>
        <a id="mobile-admin-menu" style="display: none;" onclick="navigateTo('/admin'); closeMobileMenu()" id="mobile-nav-admin">Admin</a>
    </div>
